{% extends 'base.html' %}
{% block title %}
    <h1>Criar Reporter</h1>
{% endblock title %}
{% block content %}
    <form id="Reporter"
          action="{% url 'relacionamentos:reporter_funcao_create' %}"
          method="post">
    {% csrf_token %}
        {{form.as_p  }}
        <button type="submit" class="btn btn-outline-success btn-lg"
                form="Reporter" value="Salvar"><i class="bi bi-floppy"></i>
                Salvar</button>
        <button type="reset" name="reset" class="btn btn-outline-danger btn-lg"
                form="Reporter" value="Reset"><i class="bi bi-arrow-clockwise"></i>
                Limpar</button>
        <a class="btn btn-outline-light btn-lg" role="button"
           href="{% url 'relacionamentos:reporter_funcao_list' %}">
            <i class="bi bi-arrow-left"></i>
                Voltar</a>
    </form>
{% endblock content %}