{% extends 'base.html' %}

    {% block title %}
        {% if reporter %}
            <h1>Lista de Reporter </h1>
        {% else %}
            <h1>Nenhum Reporter Cadastrado </h1>
        {% endif %}
    {% endblock title %}
    {% block content %}
        <div>
            {% if perms.relacionamentos.add_reporter %}
                <a class="btn btn-outline-success btn-lg" role="button"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="Criar com Funções"
                   href="{% url 'relacionamentos:reporter_funcao_create' %}">
                    <i class="bi bi-plus-square"></i> Criar com Funções </a>
            {% endif %}

            {% if perms.relacionamentos.add_reporter %}
                <a class="btn btn-outline-info btn-lg" role="button"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="Criar com Classes"
                   href="{% url 'relacionamentos:reporter_classe_create' %}">
                    <i class="bi bi-plus-square"></i> Criar com Classes </a>
            {% endif %}
        </div>

    {% if reporter %}
        <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>Código</th>
            <th>Nome</th>
            <th>Ações Funções</th>
            <th>Ações Classes</th>
        </thead>
        <tbody>
        {% for reporterr in reporter %}
            <tr>
                <td>{{ reporterr.nome }}</td>
                <td>{{ reporterr.cod }}</td>
                <td>{{ reporterr.nome }}</td>
                <td>
                    <div>
                        {% if perms.relacionamentos.change_reporter %}
                            <a class="btn btn-outline-secondary btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Update com Funções"
                            href="{% url 'relacionamentos:reporter_funcao_update' reporterr.id %}">
                                <i class="bi bi-arrow-up-circle"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.view_reporter %}
                            <a class="btn btn-outline-info btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Detalhar com Funções"
                            href="{% url 'relacionamentos:reporter_funcao_read' reporterr.id %}">
                                <i class="bi bi-card-list"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.delete_reporter %}
                             <a class="btn btn-outline-danger btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Deletar com Funções"
                            href="{% url 'relacionamentos:reporter_funcao_delete' reporterr.id %}">
                                <i class="bi bi-trash"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.view_reporter %}
                            <a class="btn btn-outline-warning btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Gerar codigo com Funções"
                            href="{% url 'relacionamentos:reporter_gerar_codigo' reporterr.id %}">
                                <i class="bi bi-box"></i></a>
                        {% endif %}
                    </div>

                </td>
                <td>
                    <div>
                        {% if perms.relacionamentos.change_reporter %}
                            <a class="btn btn-outline-secondary btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Update com Classes"
                            href="{% url 'relacionamentos:reporter_funcao_update' reporterr.id %}">
                                <i class="bi bi-arrow-up-circle"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.view_reporter %}
                            <a class="btn btn-outline-info btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Detalhar com Classes"
                            href="{% url 'relacionamentos:reporter_funcao_read' reporterr.id %}">
                                <i class="bi bi-card-list"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.delete_reporter %}
                             <a class="btn btn-outline-danger btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Deletar com Classes"
                            href="{% url 'relacionamentos:reporter_classe_delete' reporterr.id %}">
                                <i class="bi bi-trash"></i></a>
                        {% endif %}
                        {% if perms.relacionamentos.view_reporter %}
                            <a class="btn btn-outline-warning btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Gerar codigo com Classes"
                            href="{% url 'relacionamentos:reporter_classe_gerar_codigo' reporterr.id %}">
                                <i class="bi bi-box"></i></a>
                        {% endif %}

                    </div>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% endblock content %}