{% extends 'base.html' %}
  {% block title %}
    <h1>{{ reporter.nome|capfirst }}</h1>
  {% endblock title %}
  {% block content %}
    <div class = "content">
      <div class = "row">
        <strong>Código: </strong> <p>{{ reporter.cpf}}</p>
        <strong>Nome: </strong><p>
        {{ reporter.nome|capfirst }}</p>
      </div>
    </div>


    <div>
      <a class="btn btn-outline-light btn-lg" role="button"
         href="{% url 'relacionamentos:reporter_funcao_list' %}"><i
              class="bi bi-arrow-left"></i> Voltar</a>
    </div>
  {% endblock content %}